<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Person Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/dropzone.min.css">
    <link rel="stylesheet" href="./static/app.css">
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="#">NBA Players Classifier</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col card-wrapper" data-player="Lebron James">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="./static/images/lebron_james/2544.png" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Lebron James</h4>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="michael_jordan">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="./static/images/michael_jordan/images (1).jpeg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Michael Jordan</h4>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="Shaquille O'Neal">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="./static/images/shaq/download.jpeg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Shaquille O'Neal</h4>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="Stephen Curry">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="./static/images/steph_curry/1550.png" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Stephen Curry</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="/file-upload" class="dropzone" id="dropzone">
                            <div class="dz-message needsclick">
                                <img src="./static/test_images/michael_jordan/michael_jordan7.png" width="50vw" height="50vw"><br>
                                <span class="note needsclick">Drop files here or click to upload</span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3 mx-auto">
                        <button id="submitBtn" type="button" class="btn btn-success">Classify</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 error" id="error">
                <p>Can't classify image. Classifier was not able to detect face and two eyes properly</p>
            </div>

            <div class="col-sm-4" id="resultHolder">
            </div>

            <div class="col-sm-4" id="divClassTable">
                <table id="classTable">
                    <tr>
                        <th>Player</th>
                        <th>Probability Score</th>
                    </tr>
                    <tr>
                        <td>lebron_james</td>
                        <td id="score_lebron_james"></td>
                    </tr>
                    <tr>
                        <td>michael_jordan</td>
                        <td id="score_michael_jordan"></td>
                    </tr>
                    <tr>
                        <td>shaq</td>
                        <td id="score_shaq"></td>
                    </tr>
                    <tr>
                        <td>steph_curry</td>
                        <td id="score_steph_curry"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="./static/dropzone.min.js"></script>
    <script src="./static/app.js"></script>
</body>

</html>
